body {
  padding-top: 0;
  padding: 0;
  background-color: #FCFFE7;
  font-size: 16pt;
}

/* img {
  margin: 0 30px;
} */
header {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  /* padding: 30px; */
}

a.skip {
  background: white;
  padding: 12px;
  position: absolute;
  top: -60px;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  z-index: 1;
}

a.skip:focus {
  top: 60px;
  color: #EB455F;
  background-color: #2B3467;
  text-decoration-style: solid;
}

.nav_item a {
  padding: 10px;
  background-color: #BAD7E9;
  border-radius: 10px;
  margin: 0 10px;
}

.nav_item a:hover,
.focused_nav a {
  background-color: #2B3467;
}

.nav_item a,
.nav_item a:visited,
.nav_item a:active {
  color: #EB455F;
  text-decoration: none;
}


footer {
  margin-top: 30px;
  background-color: #BAD7E9;
  padding: 30px;
  text-align: center;
}

img {
  /* border: solid 3px black; */
  border-radius: 20px;
  width: 100%;
}

/* ul {
  position: sticky;
  top: 0px;

} */
header {
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

ul {
  height: 50px;
  background-color: #FCFFE7;
}

nav {
  width: 100%;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pkm {
  margin: 30px;

}

@media screen and (max-width: 600px) {
  .nav_links {
    height: 180px;
    flex-direction: column;
    justify-content: space-evenly;

  }
}

@media screen and (min-width: 601px) and (max-width: 860px) {
  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}