body {
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

ul {
  display: flex;
  flex-direction: row;
}

header {
  background: #fff;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  padding: 30px;
}

p {
  padding: 0 30px;
  padding-bottom: 20px;
}

a.skip {
  background: white;
  padding: 12px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus {
  top: 20px;
  color: black;
  text-decoration-style: solid;
}

/* *:focus {
  border: 2px solid black;
} */

.nav_item a {
  padding: 10px;
}

.nav_item a:hover,
a:focus {
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}


footer {
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

img {
  border: solid 3px black;
  border-radius: 20px;
  width: 100%;
}

/* Prevent links from changing colors after being visited.*/
a,
a:visited,
a:hover,
a:active {
  color: blue;
}