.game {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* div p:nth-child(even),
div img:nth-child(odd) {
  grid-column: 1/2;
}

div p:nth-child(odd),
div img:nth-child(even) {
  grid-column: 2/-1;
} */

.game>h2 {
  grid-column: 1/-1;
}

.game * {
  grid-column: auto / span 1;
}

@media screen and (max-width: 600px) {
  .game {
    grid-template-columns: 100%;
  }

  .game p:nth-child(2) {
    grid-row: 1;
  }

  .game p:nth-child(3) {
    grid-row: 3;
  }

  .game p:nth-child(4) {
    grid-row: 5;
  }

  /* place dis_img_1, 2 and 3 in the 2nd, 4th and 6th row */
  .dis_img_1 {
    grid-row: 4;
  }

  .dis_img_2 {
    grid-row: 6;
  }

  .dis_img_3 {
    grid-row: 8;
  }
}