.movies {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.movie * {
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.gallery img {
  width: 300px;
}

@media screen and (min-width: 600px) {
  .gallery {
    flex-direction: row;
    align-items: center;
  }

  .gallery img {
    width: 350px;
  }
}

@media screen and (min-width: 860px) {
  .gallery img {
    width: 250px;
  }
}